*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #9C7C85;

}
.wrapper{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
.jsdf{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #203912;
    height: 20%;
    width: 100%;
    box-shadow: 0px 0px 10px 5px #203912;
}
.jsdf span{
    color: #5E94E1; 
    text-align: center;
    font-size: 18px;
}
.nav{
    width: 100%;
    height: 60%;
    margin-top: 20px;
    overflow-y: scroll;
}
.nav::-webkit-scrollbar{
    overflow-y: hidden;
}

.links{
    width: 100%;
    height: 10%;
}
.load-cv{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load-cv button{
    background-color: #7A8E6E;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 200px;
    height: 40px;
}
.load-cv button:hover{
    background-color: #203912;
}
.load-cv button a{
    text-decoration: none;
    color: white;
}
.ext-links{
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left-nav{
    height: 100vh;
    width: 350px;
    position: fixed;
    border-right: 5px solid #203912;
    background-color: #9C7C85;
}
.right-nav{
    margin-left: 370px;
    height: 200vh;
    width: calc(100vw - 400px)
}
.front-view{
    background-image: url("images/blured.png");
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: 100vh;
}
.img-pic{
    width: 100%;
    height: 50%;
    display:flex;
    flex-direction:column;

}
.pic-box{
    width: 100%;
    height: 350px;
    margin-top: auto;
    display: flex;
    justify-content: center;

}
.text-sd{
    width: 100%;
    height: 50%;
    text-align: center;
    border-top: 30px solid #949391;
}
.myname{
    color: #5E94E1; 
    font-size: 50px;
    letter-spacing: 30px;
}
.smsdf{
    color: #5E94E1; 
    font-size: 30px; 
    letter-spacing: 20px;
}
.button-pane{
    margin-left: 10px;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-top: 2%;
}
.button-pane a{
    text-decoration: none;
    color: #551A8B;
}
.button-pane:hover{
    background-color: #5E94E1;
    cursor: pointer;
}
.about-part,.skills-part,.education-part,.projects-part{
    margin-top: 10px;
    width: calc(100% - 20px);
    height: auto;
    background-image: linear-gradient(to right, rgba(228, 204, 166, 0.1),rgba(228, 204, 166, 0.3),rgba(228, 204, 166, 0.1));
    padding-left: 20px;
    padding-top: 20px;
}

.skill-box{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
}
.text-box,.icon-box{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.front-img{
    height: 350px;
}
.project{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.project-box{
    width: 600px;
    height: 90%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.prev-pro,.next-pro{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-project{
    height: calc(100% - 10px);
    width: calc(100% - 80px);
    padding-top: 10px;
    overflow-y: scroll;
}
.main-project::-webkit-scrollbar{
    overflow-y: hidden;
}
.prev-pro{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.next-pro{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.prev-pro:hover,.next-pro:hover{
    background-color: rgba(85, 26, 139, 0.1);
}
.prev-pro button,.next-pro button{
    background-color: transparent;
    border: 0px;
}
.main-project .proj-pic{
    float: left;
    padding-right: 10px;
}

@media screen and (max-width: 720px) {
    div.left-nav{
        display: none;
    }
    div.right-nav{
        width: 100vw;
        margin-left: 0px;
    }
    div.text-sd .myname{
        letter-spacing: 3px;
        font-size: 50px;
    }
    div.text-sd .smsdf{
        font-size: 20px;
    }
    div.front-view .img-pic .pic-box .front-img{
        height: 250px;
    }
    div.front-view .img-pic{
        padding-top: 100px;
        height: 250px;
    }
}
